<div class="wrap-global">
	<div class="container u-posRelative">
		
		<div class="spaced" *ngIf="guide">
			<img class="image-svg" src="images/{{language}}/{{guide.content}}">
		</div>
		
		<div class="text-center footer">
			<div class="row">
				<div class="col-xs-4">
					<a [routerLink]="['/Guide/GuideDetail', { id : guide.id - 1}]" class="u-block" *ngIf="guide && guide.id > 1"><img src="images/{{language}}/button-back.svg" alt="" class="image-svg"></a>
				</div>
				<div class="col-xs-4">
					<a [routerLink]="['/Home']" class="u-block"><img src="images/{{language}}/button-home.svg" alt="" class="image-svg"></a>
				</div>
				<div class="col-xs-4">
					<a [routerLink]="['/Guide/GuideDetail', { id : guide.id + 1}]" class="u-block" *ngIf="guide && guide.id < total"><img src="images/{{language}}/button-next.svg" alt="" class="image-svg"></a>
				</div>
			</div>
		</div>
	</div>
</div>