//
// Main stylesheet.
// Should import all the other stylesheets
//

// Variables, functions, mixins and utils
@import "base/_variables";
@import "base/_functions";
@import "base/_mixins";
@import "base/_utils";

// Base/generic style rules
@import "base/_reset";
@import "base/_responsive";
@import "base/_fonts";
@import "base/_typography";
@import "base/_base";

// Layout
@import "layout/_layout";
@import "layout/_theme";
@import "layout/_print";

// Components

// Pages
@import "../pages/home/_home";
@import "../pages/beat-the-timer/_beat-the-timer";
@import "../pages/countdown/_countdown";

// Tests
@import "tests/tests";

html,
body{
	height: 100%;
}

.wrap-global{
	min-height: 100%;
	background-image: url(../images/background-main.png);
	background-repeat: no-repeat;
	background-position: center center;
	@include background-size(cover);

	> .container{
		height: 100%;
	}
}

.wrap-primary{
	background-image: url(../images/background-primary.png);
}

.wrap-highlight{
	background-image: url(../images/background-highlight.png);
}

.wrap-timer{
	background-image: url(../images/background-timer.png);
}

.contain-button-action{
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 100%;
}

.inactive{
	// cursor: not-allowed;
	// pointer-events: none;
	@include grayscale(100%);
}

.module{
	padding: 15px;
}

.spaced{
	padding-top: 15px;
	padding-bottom: 15px;
}

.button-group > a{
	display: inline-block;
	vertical-align: middle;
}

.button-group > a + a{
	margin-left: 15px;
}

.contain-button-purchase{
	position: absolute;
	width: 86%;
	left: 7%;
	bottom: 60px;
}

.footer,
.row-button > [class^="col-"],
.row-button > [class*="col-"]{
	margin-top: 15px;
}

.block{
	display: block;
}

.image-svg{
	max-width: 100%;
	width: 100%;
	height: auto;
}

.button-close{
	position: absolute;
	top: 4%;
	right: 8%;
	width: 16%;
}