//
// Mixins
//
//

@mixin background-size($size){
	-webkit-background-size: $size;
	-moz-background-size: $size;
	background-size: $size;
}

@mixin grayscale($amount){
	-webkit-filter: grayscale($amount);
	-moz-filter: grayscale($amount);
	-ms-filter: grayscale($amount);
	-o-filter: grayscale($amount);
	filter: grayscale($amount);
	filter: gray;
}