<div class="wrap-global wrap-timer">
	<div class="fill-space">
		<div class="contain-button-action text-center">
			<div class="clearfix">
				<div class="col-xs-6 col-xs-offset-3">
					<a (click)="done = true" [ngClass]="{ 'u-hidden' : done, 'u-block' : !done }"><img src="images/{{language}}/button-i-did-it.svg" alt="" class="image-svg"></a>
					<a [routerLink]="['/Home']" [ngClass]="{ 'u-hidden' : !done, 'u-block' : done }"><img src="images/{{language}}/button-home.svg" alt="" class="image-svg"></a>
				</div>
			</div>
		</div>
	</div>
</div>