<div class="wrap-global">
	<div class="container u-posRelative">

		<div class="row row-button">
    		<div class="col-xs-6" *ngFor="#language of languages">
    			<a (click)="switchLanguage(language.lang)" class="u-block"><img src="images/{{language.button}}" alt="" class="image-svg"></a>
    		</div>
		</div>

	</div>
</div>