<div class="wrap-global">
	<div class="container u-posRelative">

		<a class="button-close" (click)="back()"><img src="images/close.svg" alt="" class="width-100p h-a image-svg"></a>
		
		<img src="images/{{language}}/iap-content.svg" alt="" class="image-iap image-svg width-100p ha">

		<div class="contain-button-purchase">
			<div class="row">
				<div class="col-xs-5">
					<a (click)="purchase(false)" class="u-block"><img src="images/{{language}}/button-restore.svg" alt="" class="width-100p h-a image-svg"></a>
				</div>
				<div class="col-xs-7">
					<a (click)="purchase(true)" class="u-block"><img src="images/{{language}}/button-purchase.svg" alt="" class="width-100p h-a image-svg"></a>
				</div>
			</div>
		</div>

	</div>
</div>