//
// Layout
//
//

.container{
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 86%;
	max-width: 720px;
}

.row{
	@extend .u-cf;
	margin-left: -15px;
	margin-right: -15px;

	> [class^="col-"],
	> [class*="col-"]{
		float: left;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.col-xs-3{
	width: 25%;
}

.col-xs-4{
	width: 33.33%;
}

.col-xs-5{
	width: 41.67%;
}

.col-xs-6{
	width: 50%;
}

.col-xs-7{
	width: 58.33%;
}

.col-xs-8{
	width: 66.667%;
}

.col-xs-offset-3{
	margin-left: 25%;
}

.spaced{
	padding-top: 15px;
	padding-bottom: 15px;
}

.fill-space{
	position: absolute;
	width: 100%;
	height: 100%;
}

@for $i from 1 through 40{
	.width-#{$i * 10}{
		width: $i * 10px;
	}

	.height-#{$i * 10}{
		height: $i * 10px;
	}
}

.width-100p{
	width: 100%;
}

.h-a{
	height: auto;
}

@media only screen and (min-width: 768px){

.container{
	width: 68%;
}

}