<div class="wrap-global">
	<div class="container u-posRelative">
		<language-index></language-index>
	
		<div class="spaced spaced-top contain-logo">
			<h1 class="logo u-textCenter"><img src="images/{{language}}/logo-lickety-split.svg" alt="Lickety Split" class="image-svg"></h1>
		</div>
		
		<ul class="nav nav-landing">
			<li><a [routerLink]="['/BeatTheTimer']" class="u-block"><img src="images/{{language}}/button-beat-the-timer.svg" alt="" class="image-svg"></a></li>
			<li><a [routerLink]="['/Countdown']" class="u-block"><img src="images/{{language}}/button-count-down.svg" alt="" class="image-svg"></a></li>
		</ul>
		
		<ul class="nav nab-complimentary row spaced">
			<li class="col-xs-6">
				<a [routerLink]="['/Guide/GuideDetail', { id : 1 }]" class="block"><img src="images/{{language}}/button-guide.svg" alt="Guide" class="image-svg"></a>
			</li>
			<li class="col-xs-6">
				<a href="" class="block"><img src="images/{{language}}/button-about.svg" alt="About" class="image-svg"></a>
			</li>
		</ul>
	</div>
</div>