<div class="wrap-global wrap-primary">
	<div class="container u-posRelative">

		<menu [menus]="menus"></menu>
	
		<div class="text-center footer">
			<div class="col-xs-6 col-xs-offset-3">
				<a (click)="back()" class="u-block"><img src="images/{{language}}/button-back.svg" alt="" class="image-svg"></a>
			</div>
		</div>
	</div>
</div>